.btn {
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 1rem 4rem;
}
.btn:hover {
  color: #fff;
  background: #f56500;
}
